$green: rgba(7, 132, 22, .7);
$red: rgba(178, 36, 13, .7);
$yellow: rgba(216, 226, 14, 0.7);
$blue: rgba(13, 42, 171, .7);
$black: rgba(33, 33, 36, .7);
$black-text: #1e1e1e;
$white: #fff;
$background-blue: #1965f9;
$light-blue: #4ab1fc;
$grey: #e6e6e6;
$dark-grey: #b0aeba; 
$remove-red: #EF5350;